<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Beyond Doubt Ministries</title>
        @RenderPage("~/_commonCSS.cshtml")
    </head>
    <body>
        @RenderPage("~/_header.cshtml")
        <div id="page" class="page page-skin">
             @RenderPage("~/_mainNav.cshtml")
            <div id="main-img-wrapper">
                <img src="@Href("~/images/cross.png")" alt=""/>
            </div>
            <div id="main">
                <div id="content">
                    <h2>@Page.Title</h2>
                    @RenderBody()
                </div>
            </div>
        </div>
        @RenderPage("~/_footer.cshtml")
        @RenderPage("~/_commonJS.cshtml")
    </body>
</html>
